{% extends '_base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="flex justify-center flex-wrap relative">
        <div class=" justify-start items-start pl-[20px] w-full sm:w-1/3 sm:pl-[40px]">
            <p class="flex items-stretch text-left justify-start">
            <div class="font-bold">Директор</div>
            <br/>
            Абдулова Светлана Николаевна
            <br/>
            <br/>
            <div class="font-bold">Контакты</div>
            <br/>
            <br/>
            Республика Казахстан<br/>
            Карагандинская Область<br/>
            Г. Темиртау<br/>
            Пр. Мира, 116-54
            <br/>
            <br/>
            Тел. 8 705 653 12 84<br/>
            Почта <a href="mailto:ofmalinkiimir@mail.ru">ofmalinkiimir@mail.ru</a>
            </p>
        </div>
        <div class="flex flex-col items-stretch">
            <div class="text-center text-2xl font-bold">Реквизиты</div>
            <div class="flex justify-center flex-wrap-reverse relative">
                <div class="flex flex-row flex-wrap sm:flex-none sm:flex-nowrap justify-around w-1/2 h-[400px]">
                    <img
                            src="https://assets-global.website-files.com/656c85b1ccb09777eb93d74e/657d3c3c704ec3bbd108e187_Screenshot_2.png"
                            loading="lazy" alt="" class="inline-block align-middle flex-shrink basis-auto"/>
                    <img
                            src="https://assets-global.website-files.com/656c85b1ccb09777eb93d74e/657e9171f3b559aad39efea9_Screenshot_3.png"
                            loading="lazy" alt="" class="inline-block align-middle flex-shrink basis-auto"/>
                </div>

                <div class="justify-start items-start pl-[20px] w-full sm:w-1/3 sm:pl-[40px]">

                    <p class="flex items-stretch text-left justify-start">Компания: ОФ &quot;Маленький мир&quot;<br/>ИИН/БИН:
                        230540037192<br/>ИИК:
                        KZ29601A371001528171<br/>КБе: 18<br/>Банк: &quot;Народный Банк Казахстана&quot;<br/>БИК:
                        HSBKKZKX<br/>Валюта: KZT
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}