{% extends '_base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="my-3">
        <form id="searchForm" method="GET">
            <div class="grid gap-6 mb-6 sm:grid-cols-3">
                <div>
                    <label for="lastName"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Фамилия:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="text" id="lastName" name="lastName">
                </div>
                <div>
                </div>
                <div>
                    <label for="dob" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Дата
                        рождения:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="date" id="dob" name="dob">
                </div>
                <div>
                    <label for="city"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Город:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="text" id="city" name="city">
                </div>
                <div>
                    <label for="region"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Область:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="text" id="region" name="region">
                </div>
                <div>
                    <label for="disability" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Инвалидность:</label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            id="disability" name="disability">
                        <option value="">-- Выбрать --</option>
                        <option value="True">Да</option>
                        <option value="False">Нет</option>
                    </select>
                </div>
                <div>
                    <label for="gender"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Пол:</label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            id="gender" name="gender">
                        <option value="">-- Выбрать --</option>
                        <option value="male">Мужской</option>
                        <option value="female">Женский</option>
                    </select>
                </div>
                <div>
                    <label for="medicalOrganization"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Медицинская
                        организация:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="text" id="medicalOrganization" name="medicalOrganization">
                </div>
                <div>
                    <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Личный
                        статус:</label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            id="status" name="status">
                        <option value="">-- Выбрать --</option>
                        <option value="False">Взрослый</option>
                        <option value="True">Ребенок</option>
                    </select>
                </div>
                <div>
                    <label for="diagnosis"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Диагноз:</label>
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           type="text" id="diagnosis" name="diagnosis">
                </div>
                <div>
                    <label for="geneticAnalysis" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Генетический
                        анализ:</label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            id="geneticAnalysis" name="geneticAnalysis">
                        <option value="">-- Выбрать --</option>
                        <option value="yes">Да</option>
                        <option value="no">Нет</option>
                    </select>
                </div>
                <div>
                    <label for="vosoritid" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Восоритид:
                    </label>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            id="vosoritid" name="vosoritid">
                        <option value="">-- Выбрать --</option>
                        <option value="True">Да</option>
                        <option value="False">Нет</option>
                    </select>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit"
                        class="mx-auto rounded-md bg-cyan-600 py-2 px-4 font-semibold text-white shadow-lg transition duration-150 ease-in-out hover:bg-cyan-700 hover:shadow-xl focus:shadow-xl focus:outline-none focus:ring-2 focus:ring-cyan-600 focus:ring-offset-2">
                    Искать
                </button>
            </div>
        </form>
    </div>
    <div class="mt-4 overflow-x-auto">
        <table class=" border-2 border-spacing-0 border-black table-auto text-sm max-w-fit divide-x-2 divide-black">
            <thead>
            <tr class="text-wrap divide-x-2 divide-black border-b-2 border-black">
                <th>Фамилия</th>
                <th>Дата рождения</th>
                <th>Пол</th>
                <th>Личный статус</th>
                <th>Город</th>
                <th>Область</th>
                <th>Медицинская организация</th>
                <th>Диагноз</th>
                <th>Генетический анализ</th>
                <th>Инвалидность</th>
                <th>Восоритид (для ребенка)</th>
            </tr>
            </thead>
            <tbody>
            <tr class=" divide-x-2 divide-black">
                <td>Иванов</td>
                <td>01.01.1980</td>
                <td>Мужской</td>
                <td>Взрослый</td>
                <td>Алматы</td>
                <td>Алматинская область</td>
                <td>Городская поликлиника №1</td>
                <td>Грипп</td>
                <td>Да</td>
                <td>Нет</td>
                <td>N/A</td>
            </tr>
            <tr class="divide-x-2 divide-black">
                <td>Петрова</td>
                <td>15.05.2010</td>
                <td>Женский</td>
                <td>Ребенок</td>
                <td>Нур-Султан</td>
                <td>Астанская область</td>
                <td>Детская больница №3</td>
                <td>Ангина</td>
                <td>Нет</td>
                <td>Да</td>
                <td>Да</td>
            </tr>
            <tr class="divide-x-2 divide-black">
                <td>Сидоров</td>
                <td>25.09.1995</td>
                <td>Мужской</td>
                <td>Взрослый</td>
                <td>Актау</td>
                <td>Мангистауская область</td>
                <td>Районная поликлиника</td>
                <td>Аллергия</td>
                <td>Нет</td>
                <td>Нет</td>
                <td>N/A</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}