<!-- templates/login/_base.html -->
<!DOCTYPE html>
<html lang="ru">
{% load compress %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body class="h-full bg-gradient-to-bl from-[#8eaadb] to-[#2f5496] m-0 bg-repeat bg-fixed">
<div class="flex flex-col lg:flex-row ">
    <div class="flex-auto lg:w-64 p-16 lg:block hidden">
        <div class="flex flex-col">
            <div class="flex flex-row gap-1">
                <img src="{% static 'images/logo.webp' %}" class="h-20">
                <div class="flex flex-col items-center">
                    <p class="text-4xl text-[#ff00f2]">Подари шанс</p>
                    <p class="text-xl text-[#761989]">Общественный фонд</p>
                </div>
            </div>
            <p class="text-xl items-center text-[#930071]">Самого главного глазами не увидишь</p>
        </div>
        <div class="mt-10 pl-10 pt-10 text-6xl text-white font-bold flex-wrap">
            Реестр пациентов с редкими скелетными дисплазиями (низкорослость)
        </div>
    </div>
    <div class="flex flex-auto flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 mt-4 h-auto">
        <div class="lg:hidden flex flex-col items-center mb-6">
            <img src="/static/images/logo.webp" class="h-20">
            <div class="flex flex-col items-center">
                <p class="text-4xl text-[#ff00f2]">Подари шанс</p>
                <p class="text-xl text-[#761989]">Общественный фонд</p>
            </div>
            <p class="text-xl items-center text-[#930071] text-center">Самого главного глазами не увидишь</p>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</div>
{% block script %}
{% endblock %}
<footer class="p-4 text-white mb-0">&copy; 2023-2024 ОФ"ПОДАРИ ШАНС"</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>

</html>