{% extends 'login/_base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block title %}{{ global_title }}{% endblock %}
{% block content %}
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                {{ global_title }}
            </h1>
            <hr>
            <form class="space-y-4 md:space-y-6" method="POST">
                {% csrf_token %}
                <h2>{{ form_title }}</h2>
                {{ wizard.management_form }}
                {{ wizard.formset.management_form }}
                {{ wizard.form|crispy }}
                {% for form in wizard.form.formset %}
                    {{ form|crispy }}
                {% endfor %}
                <hr>
                <div class="wizard-navigation">
                    {% if wizard.steps.prev %}
                        <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                type="submit" name="wizard_goto_step" value="{{ wizard.steps.first }}">&laquo; Первый шаг</button>
                        <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}">&lsaquo; Предыдущий шаг</button>
                    {% endif %}
                    {% if wizard.steps.next %}
                        <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                type="submit" name="wizard_goto_step" value="{{ wizard.steps.next }}">Следующий шаг &rsaquo;</button>
                    {% else %}
                        <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                                type="submit">Зарегистрироваться</button>
                    {% endif %}
                </div>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    Уже создали аккаунт?
                    <a href="{% url 'user:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Войти</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#id_patient-city").select2();
        $("#id_adultprofile-medical_organization").select2();
        $("#id_adultprofile-diagnosis").select2();
        $("#id_patient_child-city").select2();
        $("#id_childprofile-medical_organization").select2();
        $("#id_childprofile-diagnosis").select2();
        $("#id_patient_child-city").select2();
    </script>
{% endblock %}
