{% extends 'login/_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="flex flex-auto flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 mr-3">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2>Задайте новый пароль</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Задать пароль</button>
                </form>
            </div>
        </div>
     </div>
{% endblock %}