<!-- templates/index.html -->

{% extends "login/_base.html" %}

{% block content %}
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="pl-[32px] mb-5">
                <h3 class="text-center text-blue-500 ">Кто вы?</h3>
            </div>
            <ul class="text-center mx-auto">
                <li>
                    <a href="{% url 'user:reg_patient' %}" >
                    <button class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Пациент
                    </button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:reg_child' %}" >
                    <button class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Родители пациента
                    </button>
                    </a>
                </li>
                <li>
                    <a href="{% url 'user:register_doctor' %}" >
                    <button class="text-white w-full bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Врач
                    </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}